<!DOCTYPE html>
<html>
<head>
  <title>Boeing 787</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="main.js"></script>
</head>

<body>
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Boeing 787 Dreamliner</h1>
        <img src="787_main.jpg" class="img-responsive center">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">General</a>
          </li>
          <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
              Production and delivery delays
            </a>
          </li>
          <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Composite materials</a>
          </li>
          <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Interior</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active fade in" id="home">
            
            The Boeing 787 Dreamliner is a long-range, mid-size wide-body, twin-engine jet airliner developed 
            by Boeing Commercial Airplanes. Its variants seat 242 to 335 passengers in typical
            <br>3-class seating configurations. It is Boeing's most fuel-efficient airliner and is a 
            pioneering airliner with the use of composite materials as the primary material in the 
            <br>construction of its airframe. The 787 was designed to be 20% more fuel efficient than 
            the Boeing 767, which it was intended to replace. The 787 Dreamliner's distinguishing features
            <br> include mostly electrical flight systems, swept wingtips, and noise-reducing chevrons on 
            its engine nacelles. It shares a common type rating with the larger Boeing 777 to allow 
            <br>qualified pilots to operate both models.<br><br>

            The aircraft's initial designation was the 7E7, prior to its renaming in January 2005. 
            The first 787 was unveiled in a roll-out ceremony on July 8, 2007 at Boeing's Everett factory. 
            <br>Development and production of the 787 has involved a large-scale collaboration with numerous 
            suppliers worldwide. Final assembly takes place at the Boeing Everett Factory in <br>Everett, 
            Washington, and at the Boeing South Carolina factory in North Charleston, South Carolina. 
            Originally planned to enter service in May 2008, the project experienced multiple <br>delays. 
            The airliner's maiden flight took place on December 15, 2009, and completed flight testing 
            in mid-2011.<br><br>

            Final US Federal Aviation Administration (FAA) and European Aviation Safety Agency (EASA) 
            type certification was received in August 2011 and the first 787-8 was delivered in <br>
            September 2011. It entered commercial service on October 26, 2011 with launch customer All 
            Nippon Airways. The stretched 787-9 variant, which is 20 feet (6.1 m) longer and can fly <br>
            450 nautical miles (830 km) farther than the -8, first flew in September 2013. Deliveries of 
            the 787-9 began in July 2014; it entered commercial service on August 7, 2014 with <br>All 
            Nippon Airways, with 787-9 launch customer Air New Zealand following two days later. As of 
            January 2016, the 787 had orders for 1,143 aircraft from 62 customers, with All <br>Nippon 
            Airways having the largest number on order.[1]<br><br>

            The aircraft has suffered from several in-service problems, notably fires on board related 
            to its lithium-ion batteries. These systems were reviewed by both the FAA and the Japanese 
            <br>aviation agency. The FAA issued a directive that grounded all 787s in the US and other 
            civil aviation authorities followed suit. After Boeing completed tests on a revised <br>battery 
            design, the FAA approved the revised design and lifted the grounding in April 2013; the 787 
            returned to passenger service later that month.

          </div>

          <div role="tabpanel" class="tab-pane" id="profile">
            While Boeing had been working to trim excess weight since assembly of the first airframe began, 
            the company stated in late 2006 that the first six 787s were overweight, with the first aircraft 
            expected to be 5,000 lb (2,300 kg) heavier than specified.[50] The seventh and subsequent <br>
            aircraft would be the first optimized 787-8s and were expected to meet all goals, with Boeing
             working on weight reductions.[51][52] As part of this process, Boeing redesigned some parts <br>
             and made more use of titanium.[53][54] Early built 787s were overweight and some carriers 
             decided to take later aircraft. In February 2015, Boeing has been trying to sell 10 such <br>
             aircraft that have been parked by Boeing's factory.[55]
            The Everett Factory Hall's huge door opens as the first 787 is rolled out. Surrounding the 
            aircraft are guests and the public.
            The first public appearance of the 787 on July 8, 2007<br><br>

            Boeing's early plans called for first flight by the end of August 2007 and premiered the 
            first 787 at a rollout ceremony on July 8, 2007.[56] The Dreamliner had 677 orders at this <br>
            time, which is more orders from launch to roll-out than any previous wide-body airliner.[57] 
            The aircraft's major systems had not been installed at that time and many parts were attached 
            with temporary non-aerospace fasteners requiring replacement with flight fasteners later.[58] <br>
            Although intended to shorten the production process, 787 subcontractors initially had difficulty 
            completing the extra work because they could not procure the needed parts and perform the <br>
            subassembly on schedule, leaving remaining assembly work for Boeing to complete as 
            "traveled work".[59][60][61]<br><br>

            In September 2007, Boeing announced a three-month delay, blaming a shortage of fasteners 
            as well as incomplete software.[62] On October 10, 2007, a second three-month delay to the 
            first flight and a six-month delay to first deliveries was announced due to supply chain <br>
            problems, a lack of documentation from overseas suppliers, and flight guidance software 
            delays.[63][64] Less than a week later, Mike Bair, the 787 program manager was replaced.<br>
            [65] On January 16, 2008, Boeing announced a third three-month delay to the first flight 
            of the 787, citing insufficient progress on "traveled work".[66] On March 28, 2008, in an 
            effort to gain more control over the supply chain, Boeing announced plans to buy Vought <br>
            Aircraft Industries' interest in Global Aeronautica; a later agreement was also made to 
            buy Vought's factory in North Charleston.[67]<br><br>

            On April 9, 2008, Boeing announced a fourth delay, shifting the maiden flight to the 
            fourth quarter of 2008, and delaying initial deliveries by around 15 months to the 
            third quarter of 2009. The 787-9 variant was postponed to 2012 and the 787-3 variant <br>
            was to follow with no firm delivery date.[68] On November 4, 2008, a fifth delay 
            was announced due to incorrect fastener installation and the Boeing machinists strike, <br>
            stating that the first test flight would not occur in the fourth quarter of 2008.[69][70] 
            After assessing the 787 program schedule with its suppliers,[71] Boeing confirmed on 
            December 11, 2008, that the first flight would be delayed until the second quarter of <br>
            2009.[72] Airlines, including United Airlines and Air India, stated their intentions to 
            seek compensation from Boeing for the delays.[73][74]  
          </div>
          
          <div role="tabpanel" class="tab-pane" id="messages">
            The 787 is the first major commercial airplane to have a composite fuselage, composite wings, 
            and use composites in most other airframe components.[206] Each 787 contains approximately 
            77,000 pounds (35 metric tons) of carbon-fiber-reinforced polymer (CFRP), made with 51,000 <br>
            lb (23 t) of carbon fiber.[207] Carbon fiber composites have a higher strength-to-weight ratio 
            than conventional aircraft materials, and help make the 787 a lighter aircraft.[179] Composites 
            are used on fuselage, wings, tail, doors, and interior. Boeing had built and tested the first <br>
            commercial aircraft composite section while studying the proposed Sonic Cruiser in the early 
            2000s;[208][209] and the Bell Boeing V-22 Osprey military transport uses 50% composites.[210]
            <br><br>
            Carbon fiber, unlike metal, does not visibly show cracks and fatigue, prompting concerns 
            about the safety risks of widespread use of the material;[79][211][212] the rival Airbus 
            A350 XWB uses composite panels on a frame, a more conventional approach, which its <br>
            contractors regarded as less risky.[80] Although fired in 2006, Boeing engineer Vince 
            Weldon complained to management, and later to the public: the composite fuselage was 
            unsafe compared to conventional aluminum designs, and in a crash, was more likely to <br>
            "shatter too easily and burn with toxic fumes".[213]<br><br>

            In addition, a potential issue is the porous nature of composite materials: collected 
            moisture expanding with altitude can cause delamination.[214] Boeing responded that <br>
            composites have been used on wings and other passenger aircraft parts for many years 
            without incident, and special defect detection procedures will be instituted for the <br>
            787 to detect any potential hidden damage.[215]<br><br>

            In 2006, Boeing launched the 787 GoldCare program.[216] This is an optional, 
            comprehensive life-cycle management service, whereby aircraft in the program are <br>
            routinely monitored and repaired, as needed. Although the first program of its kind 
            from Boeing, post-sale protection programs are not new; such programs are usually offered 
            by third party service centers. Boeing is also designing and testing composite hardware 
            so inspections are mainly visual. This reduces the need for ultrasonic and other non-visual <br>
            inspection methods, saving time and money.[217]
          </div>
          
          <div role="tabpanel" class="tab-pane" id="settings">
            The 787-8 is designed to typically seat 234 passengers in a three-class setup, 240 in 
            two-class domestic configuration, and 296 passengers in a high-density economy arrangement. 
            Seat rows can be arranged in four to seven abreast in first or business (e.g., 1–2–1, 2–2–2, 
            2-3-2). Eight or nine abreast are options in economy (e.g., 3–2–3, 2–4–2, 3–3–3). Typical <br>
            seat room ranges from 46 to 61 in (120 to 150 cm) pitch in first, 36 to 39 in (91 to 99 cm) 
            in business, and 32 to 34 in (81 to 86 cm) in economy.[221][222]<br><br>

            Cabin interior width is approximately 18 feet (550 cm) at armrest level,[221] which is 1 inch 
            (2.5 cm) more than originally planned.[223] The Dreamliner's cabin width is 15 inches (38 cm) 
            more than that of the Airbus A330 and A340,[224] 5 inches (13 cm) less than the A350,[225] 
            and 16 in (41 cm) less than the 777.[226] Airlines use economy seat widths from a low of 16.33<br> 
            in (41.5 cm) in charter configuration up to 20.66 in (52.5 cm) in premium economy layout.[227] 
            The 787's economy seats can be up to 17.5 in (44.4 cm) wide for nine-abreast seating[228] and 
            up to 19 inches (48 cm) wide for eight-abreast seating arrangements. Most airlines are selecting 
            the nine-abreast (3–3–3) configuration.[229] The 787 interior was designed to better <br>
            accommodate persons with mobility, sensory, and cognitive disabilities. For example, 
            a 56 by 57 in (140 by 140 cm) convertible lavatory includes a movable center wall that allows 
            two separate lavatories to become one large, wheelchair-accessible facility.[230]
            787 cabin. It shows the 787's spacious cabin. Above the blue seats are overhead bins and a 
            rainbow light effect.
            The 787's larger windows are designed to improve passenger views.<br><br>

            The 787's cabin windows are larger than any other civil air transport in-service or in 
            development,[231] with dimensions of 10.7 by 18.4 in (27 by 47 cm),[231] and a higher 
            eye level so passengers can maintain a view of the horizon.[232] The composite fuselage 
            permits larger windows without the need for structural reinforcement.[233] Instead of <br>
            plastic window shades, the windows use electrochromism-based smart glass (supplied by 
            PPG Industries)[234] allowing flight attendants[235] and passengers to adjust five levels 
            of sunlight and visibility to their liking,[236] reducing cabin glare while maintaining a 
            view to the outside world,[232][237] but the most opaque setting still has some transparency.
            [235][238][239] The lavatory, however, has a traditional sunshade.[236] The 787's cabin <br>
            features light-emitting diodes (LEDs)[240] as standard equipment, allowing the aircraft 
            to be entirely 'bulbless'. LED lights have previously been an option on the Boeing 777 
            and Airbus aircraft.[241][242] The system has three-color LEDs plus a white LED.[240]
            Jetstar 787 with 3-3-3 economy class seating<br><br>

            The internal cabin pressure of the 787 is increased to the equivalent of 6,000 feet (1,800 m) 
            altitude instead of the 8,000 feet (2,400 m) on older conventional aircraft.[243] According 
            to Boeing, in a joint study with Oklahoma State University, this will significantly improve <br>
            passenger comfort.[188][244] Cabin air pressurization is provided by electrically driven 
            compressors, rather than traditional engine-bleed air, thereby eliminating the need to cool 
            heated air before it enters the cabin.[245][246] The cabin's humidity is programmable based <br>
            on the number of passengers carried, and allows 15% humidity settings instead of the 4% found 
            in previous aircraft.[243] The composite fuselage avoids metal fatigue issues associated with 
            higher cabin pressure, and eliminates the risk of corrosion from higher humidity levels.[243] 
            The cabin air-conditioning system improves air quality by removing ozone from outside air, and <br>
            besides standard HEPA filters which remove airborne particles, uses a gaseous filtration 
            system to remove odors, irritants, and gaseous contaminants as well as particulates like 
            viruses, bacteria and allergens.[179][237] The bleedless engine cabin air system also allows 
            the 787 air to avoid oil fumes and toxins which are dangerous to the health of passengers and 
            crew and are found in all other aircraft bleed air systems.[247]
          </div>
        </div>

      </div>
    </div>

  </div>

</body>

</html>